@import "tailwindcss";

:root {
  --currentColor: #ecb330;
  --currentColorBackground: color-mix(
    in srgb,
    var(--currentColor) 16%,
    transparent
  );
  --currentColorHoverBackground: color-mix(
    in srgb,
    var(--currentColor) 24%,
    transparent
  );
  --currentColorHalfOpacity: color-mix(
    in srgb,
    var(--currentColor) 50%,
    transparent
  );
}

:root {
  --dataIconHoverColor: color-mix(in srgb, #000000 4%, transparent);
  --dataGridBorderColor: #fafafa;
  --descriptionColor: #6f6f6f;
  --borderColor: #d6d6d6;
  --secondHoverBackground: #0000000a;
  --secondBackground: #f4f4f4;
  --background: #ffffff;
  --foreground: #393939;
}

.dark {
  --dataIconHoverColor: color-mix(in srgb, #ffffff 8%, transparent);
  --dataGridBorderColor: #1c1c1c;
  --descriptionColor: #a7a7a7;
  --borderColor: #585858;
  --secondHoverBackground: #ffffff14;
  --secondBackground: #202020;
  --background: #121212;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}
